.dropArea{
  position: relative;
  text-align: center;
  float:left;
  margin-left: 1%;
  width: 30%;
  min-height: 100px;
  height: 70%;
  overflow-y: scroll;
  background-color: grey;
  border-style: solid;
  border-radius: 2px;
  border-color: darkgrey;
}

#bottomSection{
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20%;
  overflow:hidden;
  background-color: darkgrey;
}

#dragList{
  overflow-x: scroll;
  display:flex;
  flex-direction: row;
  height: 80%;
}

.dragItem{
  width: auto;
  font-size: 24pt;
  min-width: 100px;
  box-sizing: border-box;
  background-color: lightgrey;
  border-radius: 5px;
  text-align: center;
  margin: 10px;
  overflow: hidden;
  z-index: 5;
}

html{
  padding: 0;
  margin: 0;
}

body{
  padding: 0;
  margin: 0;
}

h1{
  display: inline-block;
  font-size: 4.5vw;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
